<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= player.surname %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= player.birthday %>
  </p>

  <p>
    <strong>Ranking:</strong>
    <%= player.ranking %>
  </p>

  <p>
    <strong>User:</strong>
    <%= player.user_id %>
  </p>

</div>
