<div id="<%= dom_id match_result %>">
  <p>
    <strong>Match:</strong>
    <%= match_result.match_id %>
  </p>

  <p>
    <strong>Winner:</strong>
    <%= match_result.winner_id %>
  </p>

  <p>
    <strong>Loser:</strong>
    <%= match_result.loser_id %>
  </p>

  <p>
    <strong>Draw:</strong>
    <%= match_result.draw %>
  </p>

</div>
