<p style="color: green"><%= notice %></p>

<%= render @match_result %>

<% if user_signed_in? && current_user.admin? %>
  <div>
    <h2>Admin actions</h2>
    <%= link_to "Edit this match result", edit_match_result_path(@match_result) %>
    <%= button_to "Destroy this match result", @match_result, method: :delete %>
  </div>
<% end %>

<div>
  <%= link_to "Back to match results", match_results_path %>
</div>
